@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@300;400&display=swap');
* {
    box-sizing: border-box;
}
.everything {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Start for Learniac Styling */

/*styling für WelcomeBox*/

.lvWelcomeBox {
    margin-bottom: 50px;
    position: relative;
}
.lvWelcomeCourse {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 50px;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #bfa602;

}
.lvWelcomeHeadline {
    position: absolute;
    font-size: 70px;
    color: #3c3c3b;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 300;
}
.lvWelcomeHeadline.line1 {
    top: 30%;
    left: 10%;
}
.lvWelcomeHeadline.line2 {
    top: 45%;
    left: 10%;
}
.lvWelcomeHeadline.line3 {
    top: 60%;
    left: 10%;
}
.lvHeaderimage {
    width: 100%;
    height: auto;
}

/* The actual timeline (the vertical ruler) */
.lvTimeline {
    position: relative;
    max-width: 10px;
    left: 10%;
}
.lvTimeline:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-left: 5px dashed #ffffff;
    background: linear-gradient(to bottom, #111111, #bea602, #e5d8a7) border-box;
}
.alt {
    border: 5px dashed #ffffff;
}
.lvContainer {
    position: relative;
    margin-bottom: 2.5rem;
}
.lvTimeline-icon {
    position: absolute;
    left: -50px;
    width: 110px;
    height: 110px;
}
.lvImageIcon {
    width: 100%;
}
.lvContent {
    position: relative;
    left: 70px;
    background: #8c7c02;
    width: 1000px;
    min-height: 200px;
    border-radius: 10px;
    padding: 20px 20px 15px;
    box-shadow: 0px 40px 40px rgba(0,0,0,0.15);
}
.lvContent:before {
    content: '';
    background: inherit;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: -10px;
    top: 40px;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
}
.pointWelcomebg {
    background: #3c3c3b;
}
.pointCoursebg {
    background: #bfa602;
}
.pointLearningbg {
    background: #c6b673;
}
.pointInfobg {
    background: #ede4c5;
}

/* Styling für PointWelcome */

.lvPointWelcomeHeader {
    font-family: oswald, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #bfa602;
}
.lvPointWelcomeText {
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 50px;
    white-space: pre-line;
}
.lvModulButton {
    float: right;
    background: none;
    border: 2px solid #bfa602;
    border-radius: 25px;
    color: #bfa602;
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: large;
    text-decoration: none;
    padding: 5px 35px 5px 35px;
    margin-top: 20px;
    margin-right: 20px;
}

/* Styling für PointCourse */

.lvPointCourseHeader {
    font-family: oswald, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #3c3c3b;
}
.lvPointCourseText {
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #3c3c3b;
    white-space: pre-line;
}

/* Styling für PointLearning */

.lvPointLearningHeader {
    font-family: oswald, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #3c3c3b;
}
.lvPointLearningText {
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #3c3c3b;
    padding-bottom: 50px;
    white-space: pre-line;
}
.lvDownload {
    float: right;
    background: none;
    border: 2px solid #3c3c3b;
    border-radius: 25px;
    color: #3c3c3b;
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: large;
    text-decoration: none;
    padding: 5px 35px 5px 35px;
    margin-top: 20px;
    margin-right: 20px;
}

/* Styling für PointInfo */

.lvPointInfoHeader {
    font-family: oswald, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #3c3c3b;
}
.lvPointInfoText {
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #3c3c3b;
    white-space: pre-line;
}

/* Styling für Rakete */
.lvRocketBox {
    margin: 100px;
}
.lvRocket {
    display: block;
    margin: auto;
    width: 15%;
}
.lvRocketText {
    text-align: center;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
    color: #3c3c3b;
}

/* Styling für Contacts */

.lvContactBox {
    width: 100%;
    min-height: 600px;
    background: #f2f2f2;
}
.boxPadding {
    padding: 5% 10% 10% 10%;
}
.lvcTitle {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: xxx-large;
    color: #3c3c3b;
    padding-bottom: 30px;
}
.lvContactMiniBox {
    background: #3c3c3b;
    border-radius: 20px;
    padding: 50px 10px 50px 50px;
}
.lvContactTitle {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    font-size: x-large;
    padding-bottom: 10px;
}
.lvContactName {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    color: #bfa602;
    padding-bottom: 10px;
}
.lvContactText {
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 20px;
}
.lvContactPhone {
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 10px;
}
.lvContactMobil {
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 10px;
}
.lvContactMail {
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ede4c5;
}
.lvcolumn {
    display: inline-block;
    width: 40%;
}
.lvContactBild {
    display: block;
    margin: auto;
    padding-left: 400px;
}


/* Styling for WelcomeBox */

.welcomeBox {
    background-image: linear-gradient(to right, rgba(242, 237, 180, 0.4), rgba(217, 198, 90, 0.8));
    display: flex;
    border-radius: 50px;
    box-shadow: 10px 40px 40px 10px rgba(0,0,0,0.15);;
}
.welcomeImage {
    padding: 10px;
    float: right;
    width: 100%;
    flex: 2;
}
.welcomeText {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}
.welcomeHeadline {
    color: #808080;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 300;
}
.welcomeTitle {
    word-break: normal;
    color: #8c7c02;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

/* Styling for CourseEntry */

.courseEntry {
    background-color: #e5e5e5;
    border-radius: 50px;
    box-shadow: 10px 40px 40px 10px rgba(0,0,0,0.15);
    display: flex;
    max-height: 700px;
}
.courseImageBox {
    flex: 1;
    display: flex;
    justify-content: center;
}
.courseBox {
    flex: 2;
}
.courseHeadline {
    color: #bea602;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.courseText {
    color: #000000;
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    white-space: pre-line;
}
.courseModulbutton {
    color: #ffffff;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 5%;
    margin-right: 10%;
    padding: 50px 50px 50px 50px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #d9c65a;
    float: right;
}
/* Styling for ModulePlan */
.modulplan {
    width: 100%;
}

/* Styling for OverviewBoxes */

.overviewHeadline {
    color: #bea602;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.ovHeader {
    color: #bea602;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-right: 50px;
}
.overViewSeperate {
    color: #bea602;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.overviewGoldbox {
    background-color: #d9c65a;
    color: #8c7c02;
    font-size: 80px;
    padding: 15px 0px 15px 75px;
    text-align: left;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    border-radius: 20px 20px 0px 0px;
}
.overview {
    background-color: #f2f2f2;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 8%;
    min-height: 450px;
    float: left;
    box-shadow: 10px 40px 40px 10px rgba(0,0,0,0.15);
}
.overviewImageBigBox {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8c7c02;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 40px 40px 10px rgba(0,0,0,0.15);
}
.overviewImageSmallBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}
.overviewIcon {
    width: 100%;
}
.overviewTitle {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #4d4d4d;
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    line-height: 100%;
}
.overviewNuggets {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #4d4d4d;
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 20px;
}
.overviewDuration {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #4d4d4d;
    position: absolute;
    top: 80%;
    right: 10%;
    font-size: 20px;
}

/* Styling for NewCanvas */

.newCanvasBox {
    background-image: linear-gradient(to bottom right, #e8dca0, #d9c65a );
    box-shadow: 0px 40px 40px rgba(0,0,0,0.15);
    border-radius: 20px;
    display: flex;
    min-height: 200px;
}
.newCanvasBoxSpacing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
}
.newCanvasHeadline {
    color: #ffffff;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    text-align: left;
}
.newCanvasText {
    color: #ffffff;
    font-size: 25px;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: left;
}
.newCanvasButton {
    color: #c7a315;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    border-radius: 20px;
    margin: 10% 15% 10% 10%;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    float: right;
}
/* Styling for Contacts */
.contacts {
    background-color: grey;
    margin-right: 40px;
    border-radius: 20px;
    text-align: center;
    min-height: 550px;
    padding: 40px 20px 40px 20px;
    color: white;
}
.contactsIcon {
    width: 40%;
}
.contactsRole {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-top: 50px;
}
.contactsName {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.contactsDescription {
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 25px;
}
.contactsEmail {
    text-decoration: none;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 300;
}
.contacts a:link {color: white;}
.contacts a:visited {color: white;}
.contacts a:hover {color: white;}
.contacts a:active {color: white;}
.bigImageBox {
    width: 270px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar {
    display: inherit;
    width: 100%;
    height: 100%;
}
.tothetopButon img {
    float: right;
    width: 100px;
    scroll-behavior: smooth;
}

/* Styling for ToTheTopButton */

@media only screen and (max-width: 600px) {
    .col-5.overview {
        width: 100%;
    }
    .row::after {
        padding: 10px;
    }
    /* Styling for WelcomeBox */
    .welcomeBox {
        border-radius: 20px;
        box-shadow: 5px 20px 20px 5px rgba(0,0,0,0.15);
    }
    .welcomeHeadline {
        font-size: 10px;
    }
    .welcomeTitle {
        font-size: 15px;
    }
    /* Styling for CourseEntry */
    .courseEntry {
        border-radius: 20px;
        box-shadow: 5px 20px 20px 5px rgba(0,0,0,0.15);
    }
    .courseBox {
        padding: 20px;
    }
    .courseHeadline {
        font-size: 15px;
    }
    .courseText {
        font-size: 8px;
    }
    .courseModulbutton {
        padding: 5px;
        border-radius: 10px;
        font-size: 8px;
    }
}
@media only screen and (min-width: 600px) {
    .row::after {
        padding: 20px;
    }
    /* Styling for WelcomeBox */
    .welcomeBox {
        border-radius: 35px;
    }
    .welcomeHeadline {
        font-size: 20px;
    }
    .welcomeTitle {
        font-size: 30px;
    }
    /* Styling for CourseEntry */
    .courseEntry {
        border-radius: 35px;
    }
    .courseBox {
        padding: 50px;
    }
    .courseHeadline {
        font-size: 30px;
    }
    .courseText {
        font-size: 20px;
    }
    .courseModulbutton {
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1300px) {
    .row::after {
        padding: 30px;
    }
    /* Styling for WelcomeBox */
    .welcomeHeadline {
        font-size: 40px;
    }
    .welcomeTitle {
        font-size: 60px;
    }
    /* Styling for CourseEntry */
    .courseEntry {
        border-radius: 50px;
    }
    .courseBox {
        padding: 100px;
    }
    .courseHeadline {
        font-size: 72px;
    }
    .courseText {
        font-size: 30px;
    }
    .courseModulbutton {
        font-size: 30px;
    }

    .overviewHeadline {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .contactsRole {
        font-size: 30px;
    }
    .contactsName {
        font-size: 35px;
    }
    .contactsDescription {
        font-size: 28px;
    }
    .contactsEmail {
        font-size: 28px;
    }
}
