@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: "Briston-Regular";
    src: url('../../fonts/MyFontsWebfontsKit-4/webFonts/BristonRegular/font.woff2') format('woff2'), url('../../fonts/MyFontsWebfontsKit-4/webFonts/BristonRegular/font.woff') format('woff');
}
@font-face {
    font-family: "Facto-Medium";
    src: url('../../fonts/MyFontsWebfontsKit-4/webFonts/FactoMedium/font.woff2') format('woff2'), url('../../fonts/MyFontsWebfontsKit-4/webFonts/FactoMedium/font.woff') format('woff');
}
@font-face {
    font-family: "Facto-Italic";
    src: url('../../fonts/MyFontsWebfontsKit-4/webFonts/FactoItalic/font.woff2') format('woff2'), url('../../fonts/MyFontsWebfontsKit-4/webFonts/FactoItalic/font.woff') format('woff');}
@font-face {
    font-family: "Facto-Bold";
    src: url('../../fonts/MyFontsWebfontsKit-4/webFonts/FactoBold/font.woff2') format('woff2'), url('../../fonts/MyFontsWebfontsKit-4/webFonts/FactoBold/font.woff') format('woff');}
@font-face {
    font-family: "Facto-Regular";
    src: url('../../fonts/MyFontsWebfontsKit-4/webFonts/FactoRegular/font.woff2') format('woff2'), url('../../fonts/MyFontsWebfontsKit-4/webFonts/FactoRegular/font.woff') format('woff');}
/**
        * @license
        * MyFonts Webfont Build ID 4196485, 2021-10-21T04:54:33-0400
        *
        * The fonts listed in this notice are subject to the End User License
        * Agreement(s) entered into by the website owner. All other parties are
        * explicitly restricted from using the Licensed Webfonts(s).
        *
        * You may obtain a valid license at the URLs below.
        *
        * Webfont: Briston-Regular by Fenotype
        * URL: https://www.myfonts.com/fonts/fenotype/briston/regular/
        * Copyright: Copyright (c) 2021 by Emil Bertell. All rights reserved.
        *
        *
        *
        * © 2021 MyFonts Inc
       */

@import url("//hello.myfonts.net/count/400885");

@font-face {
    font-family: 'Briston-Regular';
    src: url("https://www.learniac.org/typo3conf/ext/learniac_distribution/Resources/Public/Fonts/BristonRegular/font.woff2") format("woff2"), url("https://www.learniac.org/typo3conf/ext/learniac_distribution/Resources/Public/Fonts/BristonRegular/font.woff") format("woff");
}

/**
 * @license
 * MyFonts Webfont Build ID 4351699, 2022-02-07T10:13:30-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Facto-Bold by The Northern Block
 * URL: https://www.myfonts.com/fonts/northernblock/facto/bold/
 *
 * Webfont: Facto-Italic by The Northern Block
 * URL: https://www.myfonts.com/fonts/northernblock/facto/italic/
 *
 * Webfont: Facto-Medium by The Northern Block
 * URL: https://www.myfonts.com/fonts/northernblock/facto/medium/
 *
 * Webfont: Facto-Regular by The Northern Block
 * URL: https://www.myfonts.com/fonts/northernblock/facto/regular/
 *
 *
 * Webfonts copyright: Copyright © 2015 by Jonathan Hill. All rights reserved.
 *
 * © 2022 MyFonts Inc
*/

@import url("//hello.myfonts.net/count/4266d3");

@font-face {
    font-family: 'Facto-Regular';
    src: url("https://www.learniac.org/typo3conf/ext/learniac_distribution/Resources/Public/Fonts/FactoRegular/font.woff2") format("woff2"), url("https://www.learniac.org/typo3conf/ext/learniac_distribution/Resources/Public/Fonts/FactoRegular/font.woff") format("woff");
}

@font-face {
    font-family: 'Facto-Medium';
    src: url("https://www.learniac.org/typo3conf/ext/learniac_distribution/Resources/Public/Fonts/FactoMedium/font.woff2") format("woff2"), url("https://www.learniac.org/typo3conf/ext/learniac_distribution/Resources/Public/Fonts/FactoMedium/font.woff") format("woff");
}

@font-face {
    font-family: 'Facto-Bold';
    src: url("https://www.learniac.org/typo3conf/ext/learniac_distribution/Resources/Public/Fonts/FactoBold/font.woff2") format("woff2"), url("https://www.learniac.org/typo3conf/ext/learniac_distribution/Resources/Public/Fonts/FactoBold/font.woff") format("woff");
}

@font-face {
    font-family: 'Facto-Italic';
    src: url("https://www.learniac.org/typo3conf/ext/learniac_distribution/Resources/Public/Fonts/FactoItalic/font.woff2") format("woff2"), url("https://www.learniac.org/typo3conf/ext/learniac_distribution/Resources/Public/Fonts/FactoItalic/font.woff") format("woff");
}


/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-weight: 100-900
*/
* {
    box-sizing: border-box;
}
.everything {
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    font-size: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
.headlinesize {
    font-size: 1.5rem;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Start for Learniac Styling */

/*styling für WelcomeBox*/

.lvWelcomeBox {
    margin-bottom: 4vw;
    position: relative;
    text-align: center;
    background-color: #ccc;
    border-radius: 1vw;
}
.lvWelcomeCourse {
    font-family: "Roboto";
    font-weight: 500;
    color: #bfa602;
    vertical-align: middle;
}
/* The timeline */
.lvTimeline {
    position: relative;
}
.lvTimeline:before {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, #111111, #bea602, #e5d8a7) border-box;
}
.lvContainer {
    position: relative;
    margin-bottom: 5vw;
}
.lvTimeline-icon {
    position: absolute;
    left: -3.6vw;
    width: 8vw;
    height: 8vw;
    z-index: 2;
}
.lvImageIcon {
    width: 100%;
}
.lvContent {
    position: relative;
    left: 2vw;
    border-radius: 10px;
    padding-left: 3vw;
    padding-top: 1px;
    box-shadow: 0px 40px 40px rgba(0,0,0,0.15);
}
.pointWelcomebg {
    background: #3c3c3b;
}
.pointCoursebg {
    background: #bfa602;
}
.pointUnitsbg {
    background: #C6B673;
}
.pointLearningbg {
    background: #DED69D;
}
.pointInfobg {
    background: #ede4c5;
}

/* Styling für PointWelcome */

.lvPointWelcomeHeader {
    font-family: "Playfair Display";
    font-weight: 900;
    color: #bfa602;
}
.lvPointWelcomeText {
    font-family: "Roboto";
    color: #ffffff;
}
.lvButtonBox {
    display: inline-block;
    border-radius: 25px;
}
.button1 {
    border: 1px solid #bfa602;
    background: #3c3c3b;
}
.button2 {
    border: 1px solid #3c3c3b;
    background: #c6b673;
}
.lvModulButton {
    background: none;
    color: #bfa602;
    font-family: "Roboto";
    text-decoration: none;
}
.button1:hover {
    background-color: #bfa602;
}
.button2:hover {
    background-color: #3c3c3b;
}
.lvButtonBox:hover .lvModulButton {
    color: #3c3c3b;
}
.lvButtonBox:hover .lvDownload {
    color: #c6b673;
}

/* Styling für PointCourse */

.lvPointCourseHeader {
    font-family: "Playfair Display";
    font-weight: 900;
    color: #3c3c3b;
}
.lvPointCourseText {
    font-family: "Roboto";
    color: #3c3c3b;
}

/* Styling für PointUnits */
.lvPointUnitsHeader {
    font-family: "Playfair Display";
    font-weight: 900;
    color: #3c3c3b;
}
.lvPointUnitsText {
    font-family: "Roboto";
    color: #3c3c3b;
    padding-bottom: 1%;
}
.lvPointUnits {
    font-family: "Roboto";
    color: #3c3c3b;
    list-style-type: none;
    margin: 0;
}

/* Styling für PointLearning */

.lvPointLearningHeader {
    font-family: "Playfair Display";
    font-weight: 900;
    color: #3c3c3b;
}
.lvPointLearningText {
    font-family: "Roboto";
    color: #3c3c3b;
}
.lvDownload {
    background: none;
    color: #3c3c3b;
    font-family: "Roboto";
    text-decoration: none;
}

/* Styling für PointInfo */

.lvPointInfoHeader {
    font-family: "Playfair Display";
    font-weight: 900;
    color: #3c3c3b;
}
.lvPointInfoText {
    font-family: "Roboto";
    color: #3c3c3b;
}

/* Styling für Rakete */
.lvRocketBox {
    margin: 8vw;
}
.lvRocket {
    display: block;
    margin: auto;
    height: auto;
}
.lvRocketText {
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    color: #3c3c3b;
}

/* Styling für Contacts */

.lvContactBox {
    width: 100%;
    background: #f2f2f2;
    color: #ffffff;
}
.boxPadding {
    padding: 5% 5% 5% 5%;
}
.lvcTitle {
    font-family: "Playfair Display";
    font-weight: 900;
    color: #3c3c3b;
    padding-bottom: 2vw;
}
.lvContactMiniBox {
    background: #3c3c3b;
    border-radius: 20px;
}
.lvContactTitle {
    font-family: "Roboto";
}
.lvContactName {
    font-family: "Playfair Display";
    font-weight: 900;
    color: #bfa602;
    padding-bottom: 10px;
}
.lvContactText {
    font-family: "Roboto";
    padding-bottom: 20px;
}
.lvContactPhone {
    font-family: "Roboto";
    padding-bottom: 10px;
}
.lvContactMobil {
    font-family: "Roboto";
    padding-bottom: 10px;
}
.lvContactMail {
    font-family: "Roboto";
    color: #ede4c5;
}
.lvContactBild {
    display: block;
    margin: auto;
    width: 100%;
    float: right;
}
/* Styling for other Courses */

/* Styling for WelcomeBox */

.welcomeBox {
    background-image: linear-gradient(to right, rgba(242, 237, 180, 0.4), rgba(217, 198, 90, 0.8));
    display: flex;
    border-radius: 50px;
    box-shadow: 10px 40px 40px 10px rgba(0,0,0,0.15);;
}
.welcomeImage {
    padding: 10px;
    float: right;
    width: 100%;
    flex: 2;
}
.welcomeText {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}
.welcomeHeadline {
    color: #808080;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
}
.welcomeTitle {
    word-break: normal;
    color: #8c7c02;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

/* Styling for CourseEntry */

.courseEntry {
    background-color: #e5e5e5;
    border-radius: 50px;
    box-shadow: 10px 40px 40px 10px rgba(0,0,0,0.15);
    display: flex;
    min-height: 500px;
    text-align: right;
}
.courseImageBox {
    flex: 1;
    display: flex;
    justify-content: center;
}
.courseImage {
    width: 100%;
    height: auto;
}
.courseBox {
    flex: 2;
}
.courseHeadline {
    color: #bea602;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}
.courseText {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    white-space: pre-line;
    text-align: left;
}
.courseModulbutton {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 50px 50px 50px 50px;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 5%;
    background-color: #d9c65a;
    display: inline-block;
    text-align: right;
}
/* Styling for ModulePlan */
.modulplan {
    width: 100%;
}

/* Styling for OverviewBoxes */
.testing {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.overviewHeadline {
    color: #bea602;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.ovHeader {
    color: #bea602;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-right: 50px;
}
.overViewSeperate {
    color: #bea602;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.overviewGoldbox {
    background-color: #d9c65a;
    color: #8c7c02;
    font-size: 80px;
    padding: 15px 0 15px 75px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    border-radius: 20px 20px 0 0;
}
.overview {
    background-color: #f2f2f2;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 8%;
    min-height: 450px;
    float: left;
    box-shadow: 10px 40px 40px 10px rgba(0,0,0,0.15);
}
.overviewImageBigBox {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8c7c02;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 40px 40px 10px rgba(0,0,0,0.15);
}
.overviewImageSmallBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}
.overviewIcon {
    width: 100%;
}
.overviewTitle {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #4d4d4d;
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    line-height: 100%;
}
.overviewNuggets {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #4d4d4d;
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 20px;
}
.overviewDuration {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #4d4d4d;
    position: absolute;
    top: 80%;
    right: 10%;
    font-size: 20px;
}
.overviewDurationIcon {
    vertical-align: sub;
    margin-right: 5px;
    width: 20px;
}
/* Styling for NewCanvas */

.newCanvasBox {
    background-image: linear-gradient(to bottom right, #e8dca0, #d9c65a );
    box-shadow: 0 40px 40px rgba(0,0,0,0.15);
    border-radius: 20px;
    display: flex;
    min-height: 200px;
}
.newCanvasBoxSpacing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
}
.newCanvasHeadline {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    text-align: left;
}
.newCanvasText {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: left;
}
.newCanvasButton {
    color: #c7a315;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    border-radius: 20px;
    margin: 15% 15% 5% 10%;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    float: right;
}
/* Styling for Contacts */
.contacts {
    background-color: grey;
    margin-right: 40px;
    border-radius: 20px;
    text-align: center;
    min-height: 550px;
    padding: 40px 20px 40px 20px;
    color: white;
}
.contactsIcon {
    width: 50%;
}
.contactsRole {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-top: 20px;
}
.contactsName {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.contactsDescription {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 25px;
}
.contactsEmail {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
}
.contacts a:link {color: white;}
.contacts a:visited {color: white;}
.contacts a:hover {color: white;}
.contacts a:active {color: white;}

.bigImageBox {
    width: 270px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar {
    display: inherit;
    width: 100%;
    height: 100%;
}
.tothetopButon img {
    float: right;
    width: 100px;
    scroll-behavior: smooth;
}
/* Styling for ToTheTopButton */

@media only screen and (max-width: 600px) {
    .col-5.overview {
        width: 100%;
    }
    .row::after {
        padding: 10px;
    }
    /* Styling for WelcomeBox */
    .welcomeBox {
        border-radius: 20px;
        box-shadow: 5px 20px 20px 5px rgba(0,0,0,0.15);
    }
    .welcomeHeadline {
        font-size: 10px;
    }
    .welcomeTitle {
        font-size: 15px;
    }
    /* Styling for CourseEntry */
    .courseEntry {
        border-radius: 20px;
        box-shadow: 5px 20px 20px 5px rgba(0,0,0,0.15);
    }
    .courseBox {
        padding: 20px;
    }
    .courseHeadline {
        font-size: 15px;
    }
    .courseText {
        font-size: 8px;
    }
    .courseModulbutton {
        padding: 5px;
        border-radius: 10px;
        font-size: 8px;
    }

    /* Learniac Styling */

    .lvWelcomeCourse {
        font-size: 18px;
    }
    .lvHeaderimage {
        width: 40%;
    }
    .lvTimeline {
        left: 10%;
    }
    .lvTimeline:before{
        left: 0;
        top: 0;
        height: 100%;
        border-left: 0.5vw dashed #ffffff;
    }
    .lvTimeline-icon {
        position: absolute;
        left: -9%;
        width: 20%;
    }
    .lvContainer {
        display: flex;
    }
    .lvContent {
        width: 80%;
        min-height: 10vw;
        padding-left: 10%;
    }
    .contentHeadline {
        padding-top: 15px;
    }
    .contentText {
        padding-right: 5%;
        padding-bottom: 2vw;
    }
    .lvButtonBox {
        margin-left: 40%;
        margin-right: auto;
        margin-bottom: 2vw;
        padding: 10px 10px 10px 10px;
        width: 50%;
        text-align: center;
    }
    .lvRocket {
        width: 35%;
    }
    .lvRocketText {
        font-size: 20px;
    }
    .lvContactBox {
        min-height: 30vw;
    }
    .lvcTitle {
        text-align: center;
        font-size: 30px;
    }
    .lvContactMiniBox {
        padding: 15px 30px 30px 30px;
        font-size: 18px;
        text-align: center;
    }
    .lvcolumn2 {
        display: inline-block;
    }
    .lvContactTextBox {
        margin-bottom: 25px;
    }
    .lvContactName {
        font-size: 30px;
    }
    .lvContactMail {
        font-size: 14px;
    }
    .learniacLogo {
        display: block;
        margin: auto;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1299px) {
    .row::after {
        padding: 50px;
    }
    /* Styling for WelcomeBox */
    .welcomeBox {
        border-radius: 35px;
    }
    .welcomeHeadline {
        font-size: 20px;
    }
    .welcomeTitle {
        font-size: 30px;
    }
    /* Styling for CourseEntry */
    .courseEntry {
        border-radius: 35px;
    }
    .courseBox {
        padding: 50px;
    }
    .courseHeadline {
        font-size: 30px;
    }
    .courseText {
        font-size: 20px;
    }
    .courseModulbutton {
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
    }
    /* Learniac Styling */

    .lvWelcomeCourse {
        font-size: 25px;
    }
    .lvHeaderimage {
        width: 45%;
    }
    .lvTimeline {
        left: 10%;
    }
    .lvTimeline:before{
        left: 0;
        top: 0;
        height: 100%;
        border-left: 0.5vw dashed #ffffff;
    }
    .lvTimeline-icon {
        position: absolute;
        left: -9%;
        width: 20%;
    }
    .lvContainer {
        display: flex;
    }
    .lvContent {
        width: 80%;
        min-height: 10vw;
        padding-left: 10%;
    }
    .contentHeadline {
        padding-top: 15px;
    }
    .contentText {
        padding-right: 5%;
        padding-bottom: 2vw;
    }
    .lvButtonBox {
        margin-left: 40%;
        margin-right: auto;
        margin-bottom: 2vw;
        padding: 10px 10px 10px 10px;
        width: 50%;
        text-align: center;
    }
    .lvRocket {
        width: 35%;
    }
    .lvRocketText {
        font-size: 20px;
    }
    .lvContactBox {
        min-height: 30vw;
    }
    .lvcTitle {
        text-align: center;
        font-size: 30px;
    }
    .lvContactMiniBox {
        padding: 15px 30px 30px 30px;
        font-size: 18px;
        text-align: center;
    }
    .lvcolumn2 {
        display: inline-block;
    }
    .lvContactTextBox {
        margin-bottom: 25px;
    }
    .lvContactName {
        font-size: 30px;
    }
    .learniacLogo {
        display: block;
        margin: auto;
    }
}

@media only screen and (min-width: 1300px) {
    .row::after {
        padding: 30px;
    }
    /* Styling for WelcomeBox */
    .welcomeHeadline {
        font-size: 40px;
    }
    .welcomeTitle {
        font-size: 60px;
    }
    /* Styling for CourseEntry */
    .courseEntry {
        border-radius: 50px;
    }
    .courseBox {
        padding: 20px 50px 50px 50px;
    }
    .courseHeadline {
        font-size: 72px;
    }
    .courseText {
        font-size: 30px;
    }
    .courseModulbutton {
        font-size: 30px;
    }
    .overviewHeadline {
        font-size: 60px;
        margin-bottom: 30px;
    }
    .contactsRole {
        font-size: 30px;
    }
    .contactsName {
        font-size: 35px;
    }
    .contactsDescription {
        font-size: 28px;
    }
    .contactsEmail {
        font-size: 28px;
    }
    /* Learniac Styling */

    .lvWelcomeCourse {
        font-size: 40px;
    }
    .lvTimeline {
        left: 10%;
    }
    .lvTimeline:before{
        left: 0;
        top: 0;
        height: 100%;
        border-left: 0.5vw dashed #ffffff;
    }
    .lvTimeline-icon {
        position: absolute;
        left: -3.6vw;
        width: 8vw;
        height: 8vw;
    }
    .lvContent {
        width: 80%;
        min-height: 10vw;
    }
    .contentHeadline {
        padding-top: 15px;
    }
    .contentText {
        padding-right: 5%;
        padding-bottom: 1vw;
    }
    .lvButtonBox {
        margin-left: 70%;
        margin-right: 2%;
        margin-bottom: 2vw;
        padding: 10px 40px 10px 40px;
    }
    .lvRocket {
        width: 35%;
    }
    .lvRocketText {
        font-size: 30px;
    }
    .lvContactBox {
        min-height: 30vw;
    }
    .lvcTitle {
        font-size: 30px;
    }
    .lvContactMiniBox {
        padding: 15px 30px 30px 30px;
        font-size: 18px;
    }
    .lvcolumn1 {
        width: 60%;
        display: inline-block;
        position: relative;
        top: -15%;
    }
    .lvcolumn2 {
        width: 35%;
        display: inline-block;
        position: relative;
        top: -35%;
    }
    .lvContactName {
        font-size: 30px;
    }
    .lvContactBild {
        width: 60%;
    }
    .learniacLogo {
        float: right;
    }
}

/* Layout 2 */

/* Layout von Ali */
.ic-DashboardCard__header_image .ic-DashboardCard__header_hero {
    background: none !important;
}

.ganze {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
}

.moduleuebersicht {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.linkeseite {
    flex: 1;
}
.linke-text {
    width: 90%;
    margin: auto;
}

.linke-text2 {
    display: none;
}

.linke-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #bea000, #5c5c5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.linke-text p {
    margin-top: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #000000;
}

.linke-text .testbild {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bildingo img {
    filter: drop-shadow(0px 5px 3px black);
    animation: dropingos 1.5s ease;
}
.linkeseite .modulescards {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    justify-content: space-around;
    filter: drop-shadow(0px 5px 3px rgb(128, 128, 128));
    animation: dropingos 1.5s ease;
    font-family: Oswald;
}

.cardcustom {
    border: none;
    width: 296px;
    height: 244px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #000000;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
}

.modulescards .cardcustom:hover {
    background-color: #5c5c5a;
    box-shadow: 3px 3px 6px rgb(143, 143, 143);
}

.cardcustom .cardcustomimg img {
    position: relative;
    margin: 0;
    bottom: 4em;
    height: 10em;
}

.cardcustom .cardcustomtext {
    color: white;
    position: relative;
}
.cardcustom .cardcustomtext p {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 50px;
    font-size: 25px;
    font-family: Oswald;
}

.cardcustombuttom {
    display: flex;
    align-items: center;
    font-family: Oswald;
    padding: 13px;
    font-size: 17px;
    border-radius: 20px;
    color: white;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: #bea000;
    text-decoration: none !important;
}

.cardcustombuttom:hover {
    background-color: #000000;
}

.badgeganzes {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    flex-direction: column;
    /* background-color: #f0f0f0; */
}

.badgeganzes .titleundtext h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #bea000, #5c5c5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.badgeganzes .titleundtext p {
    font-family: sans-serif;
    margin-top: 5px;
    font-size: 18px;
    color: #000000;
}

.badgeganzes .cardfuerbadge {
    width: 90%;
    margin: auto;
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    animation: dropingos 1.5s ease;
}
.badgeganzes .cardfuerbadge .cardcustom {
    background-color: transparent;
    border: #bea000 solid;
    color: #000000;
}

.badgeganzes .cardfuerbadge .cardcustom .cardcustomtext {
    color: #000000;
}

.badgeganzes .loadingbadgr {
    display: none;
    width: 500px;
    height: 10px;
    margin: 20px;
    background-color: rgb(167, 167, 167);
}

.kontakte {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #000000;
    font-family: Oswald;
    color: white;
    animation: dropingos 1.5s ease;
    filter: drop-shadow(0px 5px 3px rgb(119, 119, 119));
}
.kontakte .info {
    display: flex;
    flex: 1;
    margin: 7%;
}
.kontakte .info img {
    border-radius: 20px;
}
.kontakte .info .textkontakte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    color: #ffffff;
    text-align: left;
    font-size: 18px;
    line-height: 0.5em;
}
.kontakte .info .textkontakte p {
    width: 13em;
}
.kontakte .info .textkontakte a {
    text-decoration: none;

    color: #bea000;
}
.anderebild img {
    width: 80%;
    margin: auto;
    margin-left: 10%;
}

.headerauto {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}
.headerauto h1 {
    font-size: 45px;
    background: linear-gradient(to right, #bea000, #5c5c5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headerauto p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}
.alleModuleCard {
    width: 100%;
    margin: auto;
    align-items: center;
}
.alleModuleCard ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
    grid-gap: 18px;
    justify-content: center;
    padding: initial;
    text-decoration: none;
}
.alleModuleCard li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: #bea602;
    font-family: Oswald;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 120px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #383838;
    text-decoration: none;
    transition: all 0.8s ease;
}
.alleModuleCard a {
    text-decoration: none;
    color: #bea602;
}
.alleModuleCard li:hover {
    background-color: black;
    box-shadow: 0px 5px 10px #dfe6f0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.alleModuleCard a :hover {
    color: white;
}

.nummercard {
    position: relative;
    left: 0px;
}

.InhalteHeader {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(to right, #bea000, #5c5c5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.kontakteMitCard {
    margin-top: 20px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
    grid-gap: 18px;
    justify-content: center;
    padding: initial;
    text-decoration: none;
}
.KontaktCardPro {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(26, 26, 26, 0.2);
    transition: 0.3s;
}

.KontaktCardPro:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.KontaktCardContainer {
    padding: 2px 16px;
    z-index: -1;
    margin-top: -10px;
    background-color: #383838;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.KontaktCardContainer {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.KontaktCardContainer a {
    text-decoration: none;
    color: #bea602;
}

.titlekontaktecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
.titlekontaktecard h1 {
    background: linear-gradient(to right, #bea000, #5c5c5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}