<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/src/components/View/graduatecampus.css" />
</head>
<body>
<div class="everything3">
    <div class="lvWelcomeBox">
        <span class="lvWelcomeCourse">
            Willkommen im Kurs
        </span>
        <span class="lvWelcomeHeadline line1">GRUNDLAGEN</span>
        <span class="lvWelcomeHeadline line2">WAHRSCHEINLICHKEIT/</span>
        <span class="lvWelcomeHeadline line3">INFERENZSTATISTIK</span>
        <img class="lvHeaderimage" src="images/headerbild.png">
    </div>
    <div class="lvTimeline">
        <div class="lvTimeline alt">
            <div class="lvContainer lvpWelcome">
                <div class="lvTimeline-icon">
                    <div class="lvImage">
                        <img class="lvImageIcon" src="images"/>
                    </div>
                </div>
                <div class="lvContent pointWelcomebg">
                    <h1 class="lvPointWelcomeHeader">Willkommen im Kurs</h1>
                    <div class="lvPointWelcomeText">
                        Zum Durchstarten klicken Sie im Kursmenü auf der linken Seite auf Module.
                        Hier gelangen Sie zur Gesamtübersicht aller E-Learning Einheiten, den sog. Learning Nuggets.
                        <br />
                        <a href="images" class="lvModulButton">Zu den Modulen</a>
                    </div>
                </div>
            </div>
            <div class="lvContainer lvpWelcome">
                <div class="lvTimeline-icon">
                    <div class="lvImage">
                        <img class="lvImageIcon" src="images"/>
                    </div>
                </div>
                <div class="lvContent pointCoursebg">
                    <h1 class="lvPointCourseHeader">Kursablauf</h1>
                    <div class="lvPointCourseText">Am besten arbeiten Sie von oben nach unten der Reihe nach die einzelnen Lerneinheiten durch.
                        Am Ende eines jeden Learning Nuggets erwartet Sie ein kurzer Wissenscheck, um das Gelernte
                        abschließend zu überprüfen. Sobald Sie alle Learning Nuggets bearbeitet haben, erhalten Sie
                        automatisch per E-Mail Ihre Teilnahmebescheinigung zugesendet.</div>
                </div>
            </div>
            <div class="lvContainer lvpWelcome">
                <div class="lvTimeline-icon">
                    <div class="lvImage">
                        <img class="lvImageIcon" src="images"/>
                    </div>
                </div>
                <div class="lvContent pointLearningbg">
                    <h1 class="lvPointLearningHeader">Mit E-Learnings lernen</h1>
                    <div class="lvPointLearningText">
                        Mit E-Learnings lernen. Eine kurze Anleitung, wie Sie die Learning Nuggets bearbeiten können
                        Sie sich gerne hier herunterladen.
                        <a href="images" class="lvDownload">Download</a>
                    </div>
                </div>
            </div>
            <div class="lvContainer lvpWelcome">
                <div class="lvTimeline-icon">
                    <div class="lvImage">
                        <img class="lvImageIcon" src="images"/>
                    </div>
                </div>
                <div class="lvContent pointInfobg">
                    <h1 class="lvPointInfoHeader">Wissenswertes</h1>
                    <div class="lvPointInfoText">Ab der Buchung und Bezahlung haben Sie 90 Tage Zugriff auf die Learning Nuggets.
                        Die Lehrunterlagen sind nur für den persönlichen Gebrauch vorgesehen. Daher ist von sonstiger
                        Verbreitung und Vervielfältigung abzusehen. Die Lehrunterlagen sind urheberrechtlich
                        geschützt. Das Urheberrecht liegt, soweit nicht ausdrücklich anders gekennzeichnet, bei
                        dem Graduate Campus Hochschule Aalen GmbH.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="lvRocketBox">
        <img class="lvRocket" src="images"/>
        <div class="lvRocketText">
            VIEL SPASS UND ERFOLG BEIM BEARBEITEN DER INHALTE.
        </div>
    </div>
    <div class="lvContactBox">
        <div class="boxPadding">
            <div class="lvcTitle">
                Ansprechpersonen
            </div>
            <div class="lvContactMiniBox">
                <div class="lvContactTextBox lvcolumn">
                    <div class="lvContactTitle">Kurskoordination</div>
                    <div class="lvContactName">Maximilian Stricker</div>
                    <div class="lvContactText">
                        Haben Sie Fragen oder Anregungen?<br />
                        Kontaktieren Sie mich gerne.
                    </div>
                    <div class="lvContactPhone">+49 01753419462</div>
                    <div class="lvContactMobil">+49 01753419462</div>
                    <a href="mailto:maximilian.stricker@googlemail.com" class="lvContactMail">maximilian.stricker@googlemail.com</a>
                </div>
                <div class="lvImageBox lvcolumn">
                    <img class="lvContactBild" src="https://github.com/Electressic/CanvasEditor/blob/main/Element%207.png?raw=true"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

