<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/src/components/View/graduatecampus.css" />
</head>
<body>
<div class="everything">
    <div class="welcomeBox">
        <img class="welcomeImage" src="images/Headerbild_ObjProg.png" />
        <span class="welcomeHeadline">
            Test1
        </span>
        <span class="welcomeTitle">
            Test2
        </span>
    </div>
    <div class="courseEntry">
        <img class="courseImage" src="images/rakete.png" />
        <span class="courseHeadline">
            Test3
        </span>
        <span class="courseDescription">
            Test4
        </span>
        <button class="courseModulbutton">
            Direkt zu den Modulen
        </button>
    </div>
    <div class="modulplan">
        <img class="modulplanimg" src="images/Metroplan_ObjektorientierteProgrammierung.png">
    </div>
    <div class="overViewSeperate">
        <div class="overview">
            <div class="overviewGoldbox">
            </div>
            <img class="overviewIcon" src="images/Kapitel1.png " />
            <div class="overviewTitle">
                Titel
            </div>
            <div class="overviewNuggets">
                Nuggets
            </div>
            <div class="overviewDuration">
                Duration
            </div>
        </div>
    </div>
    <div class="canvasNew">
        <div class="canvasNewTitle">
            Test5
        </div>
        <div class="canvasNewInfos">
            Test6
        </div>
        <button class="canvasNewModulbutton">
            Direkt zu den Modulen
        </button>
    </div>
    <div class="contacts">
        <div class="contactsIconBox">
        </div>
        <img class="contactsIcon" src="images/graduate-campus-portrait-2021-16.jpg">
        <div class="contactsRole">
            Rolle
        </div>
        <div class="contactsName">
            Name Nachname
        </div>
        <div class="contactsDescription">
            Beschreibung
        </div>
        <div class="contactsEmail">
            E-Mail
        </div>
    </div>
</div>
</body>
</html>