<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/src/components/View/graduatecampus.css" />
</head>
<body>
<div class="everything">
    <div class="welcomeBox">
        <img class="welcomeImage" src=https://github.com/Electressic/CanvasEditor/blob/main/src/components/images/Headerbild_ObjProg.png?raw=true />
        <span class="welcomeHeadline">
                Willkommen im Kurs
            </span>
        <span class="welcomeTitle">
                Objektorientierte Programmierung
            </span>
    </div>
    <div class="courseEntry">
        <img class="courseImage" src="images/rakete.png" />
        <span class="courseHeadline">
                Kurseinstieg
            </span>
        <span class="courseDescription">
                ASDFINASD IFBASPIODH BFPAWIEHFP AWHEPF HASPDF APSIDF HAPS HDFPHAWPSWF AQWER(UQW(_PE UFPASDJFP{OAUSW_ER UAW_{)EU R{AHDSGFPIASHE{PRFTUAWPEFHAP{SODJFPAOSHDfPaqewhr
GPahS
            </span>
        <a class="courseModulbutton">
            Direkt zu den Modulen
        </a>
    </div>
    <div class="modulplan">
        <img class="modulplanimg" src=https://github.com/Electressic/CanvasEditor/blob/main/src/components/images/Metroplan_ObjektorientierteProgrammierung.png?raw=true>
    </div>
    <div class="overviewBox">
        <div class="overViewSeperate">
            <div class="overview">
                <div class="overviewGoldbox">
                    1
                </div>
                <img class="overviewIcon" src="https://github.com/Electressic/CanvasEditor/blob/main/src/components/images/Kapitel1.png?raw=true" />
                <div class="overviewTitle">
                    Modul 1
                </div>
                <div class="overviewNuggets">
                    12 Nuggets
                </div>
                <div class="overviewDuration">
                    🕑13 Minuten
                </div>
            </div>
            <div class="overview">
                <div class="overviewGoldbox">
                    2
                </div>
                <img class="overviewIcon" src="https://github.com/Electressic/CanvasEditor/blob/main/src/components/images/Kapitel2.png?raw=true" />
                <div class="overviewTitle">
                    Modul 2
                </div>
                <div class="overviewNuggets">
                    10 Nuggets
                </div>
                <div class="overviewDuration">
                    🕑4 Stunden
                </div>
            </div>
        </div>
    </div>
    <div class="canvasNew">
        <div class="canvasNewTitle">
            Test5
        </div>
        <div class="canvasNewInfos">
            Test6
        </div>
        <a class="canvasNewModulbutton">
            Direkt zu den Modulen
        </a>
    </div>
    <div class="contactsBigBox">
        <div class="contactsSmallBox">
            <div class="contacts">
                <img class="contactsIcon" src="https://github.com/Electressic/CanvasEditor/blob/main/src/components/images/graduate-campus-portrait-2021-16.jpg?raw=true">
                <div class="contactsRole">
                    Dozent1
                </div>
                <div class="contactsName">
                    Sarah
                </div>
                <div class="contactsDescription">
                    Weis auch nicht
                </div>
                <a class="contactsEmail" href="mailto:name@bla.de">
                    maximilian.stricker@googlemail.com
                </a>
            </div>
            <div class="contacts">
                <div class="contactsIconBox">
                </div>
                <img class="contactsIcon" src="https://github.com/Electressic/CanvasEditor/blob/main/src/components/images/graduate-campus-portrait-2021-16.jpg?raw=true">
                <div class="contactsRole">
                    max
                </div>
                <div class="contactsName">
                    dumm
                </div>
                <div class="contactsDescription">
                    weil
                </div>
                <div class="contactsEmail" onclick={convertEmail}>
                    falsch
                </div>
            </div>
            <img alt="Avatar bitte einfuegen" src="https://github.com/Electressic/CanvasEditor/blob/main/src/components/images/graduate-campus-portrait-2021-16.jpg?raw=true">
        </div>
    </div>
</div>
</body>
</html>

