@import url("//hello.myfonts.net/count/4266d3");
@import url("//hello.myfonts.net/count/400885");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@font-face {
  font-family: "Briston-Regular";
  src: url('https://github.com/Electressic/CanvasEditor/tree/main/src/fonts/MyFontsWebfontsKit-4/webFonts/BristonRegular/font.woff2') format('woff2'), url('https://github.com/Electressic/CanvasEditor/tree/main/src/fonts/MyFontsWebfontsKit-4/webFonts/BristonRegular/font.woff') format('woff');
}
@font-face {
  font-family: "Facto-Medium";
  src: url('https://github.com/Electressic/CanvasEditor/tree/main/src/fonts/MyFontsWebfontsKit-4/webFonts/FactoMedium/font.woff2') format('woff2'), url('https://github.com/Electressic/CanvasEditor/tree/main/src/fonts/MyFontsWebfontsKit-4/webFonts/FactoMedium/font.woff') format('woff');
}
@font-face {
  font-family: "Facto-Italic";
  src: url('https://github.com/Electressic/CanvasEditor/tree/main/src/fonts/MyFontsWebfontsKit-4/webFonts/FactoItalic/font.woff2') format('woff2'), url('https://github.com/Electressic/CanvasEditor/tree/main/src/fonts/MyFontsWebfontsKit-4/webFonts/FactoItalic/font.woff') format('woff');}
@font-face {
  font-family: "Facto-Bold";
  src: url('https://github.com/Electressic/CanvasEditor/tree/main/src/fonts/MyFontsWebfontsKit-4/webFonts/FactoBold/font.woff2') format('woff2'), url('https://github.com/Electressic/CanvasEditor/tree/main/src/fonts/MyFontsWebfontsKit-4/webFonts/FactoBold/font.woff') format('woff');}
@font-face {
  font-family: "Facto-Regular";
  src: url('https://github.com/Electressic/CanvasEditor/tree/main/src/fonts/MyFontsWebfontsKit-4/webFonts/FactoRegular/font.woff2') format('woff2'), url('https://github.com/Electressic/CanvasEditor/tree/main/src/fonts/MyFontsWebfontsKit-4/webFonts/FactoRegular/font.woff') format('woff');}

body {
  background: #3c3c3b;
  margin: 0;
  padding: 0;
}
/* Modalstyling */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
  position:fixed;
  background: #6a6969;
  z-index: 6;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.modalbuttons{
  padding: 10px 10px;
  margin: 10px;
  border-radius: 5px;
  border-color: #bea602;
  background-color: #bea602;
  font-family: Oswald;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modalbuttons .popup {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 7;
  left: 50%;
  bottom: 100%;
  margin-left: -80px;
}
.modalbuttons .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.modalbuttons .popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1 ;}
}
.modalText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 70%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
.testbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 900;
  color: #3c3c3b;
}
/* Editornavbarstyling

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar-li {
  display: block;
  color: white;
  margin: 10px 10px;
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #bea602;
  font-family: Oswald;
  background-color: #4d4d4d;
}
.navbar-li:hover {
  background-color: #111111;
}
.container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.inputMarginWelcomeBox {
  margin-left: 51px;
}
.editorTextColor {
  color:white;
  margin: 10px;
}
.editorsubmitbtn {
  margin-left: 5px;
  border-radius: 5px;
  border-color: #bea602;
  background-color: #bea602;
  font-family: Oswald;
  cursor: pointer;
}
*/
/*styling für WelcomeBox*/

.vWelcomeBox {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to right, #f2edb4, #d9c65a);
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 40px 40px rgba(0,0,0,0.15);
}
.headerimage {
  float: right;
  width: auto;
  height: auto;
  max-height: 300px;
}
.headline {
  position: absolute;
  height: fit-content;
  margin: auto;
  padding-bottom: 50px;
  top: 0;
  bottom: 10%;
  left: 5%;
  right: 0;
  color: #808080;
  font-size: xx-large;
  font-family: Oswald Light;
}
.kursname {
  position: absolute;
  height: fit-content;
  margin: auto;
  padding-top: 20px;
  top: 10%;
  bottom: 0;
  left: 5%;
  right: 0;
  color: #8c7c02;
  font-size: xxx-large;
  font-family: Oswald;
}
.kursname2 {
  position: absolute;
  height: fit-content;
  margin: auto;
  padding-top: 20px;
  top: 45%;
  bottom: 0;
  left: 5%;
  right: 0;
  color: #8c7c02;
  font-size: xxx-large;
  font-family: Oswald;
}

/* Styling für CourseEntry */

.vKurseinstieg {
  position: relative;
  overflow: hidden;
  background-color: #e5e5e5;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 40px 40px rgba(0,0,0,0.15);
}
.rakete {
  object-fit: cover;
  width: auto;
  height: auto;
  max-height: 500px;
}
.kurseinstiegtitle {
  position: absolute;
  height: fit-content;
  margin:auto;
  top:0;
  bottom:50%;
  left:50%;
  right:0;
  color: #bea602;
  font-size: xx-large;
  font-family: Oswald;
}
.kursbeschreibung {
  position: absolute;
  margin:auto;
  top:30%;
  bottom:0;
  left:50%;
  right:0;
  font-size: large;
  font-family: Open Sans, sans-serif;
  color: #000000;
}
.kursbeschreibungtext {
  height: fit-content;
  white-space: pre-line;
  white-space: pre-wrap;
}
.modulbutton {
  position: absolute;
  height: fit-content;
  margin:auto;
  padding: 5px;
  width: 30%;
  top:85%;
  left:60%;
  right: 0;
  border-radius: 5px;
  color: white;
  background-color: #d9c65a;
  font-family: Oswald;
}

/* Styling für Modulplan */

.vModulplan {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0px 40px 40px rgba(0,0,0,0.15);
  border-radius: 20px;
}
.modulplanimg {
  object-fit: cover;
  width: 100%;
}
/* Styling für ViewOverview */
.vOverViewTest{
  padding: 20px;
}
.vOverViewSeperate {
  width: 100%;
}
.vOverView {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  border-color: #8c7c02;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom:0px;
  margin: 10px 5% 10px 5%;
  border-radius: 20px;
  box-shadow: 0px 40px 40px rgba(0,0,0,0.15);
  width:40%;
  float: left;
}
.kapitel {
  position: absolute;
  margin: auto;
  z-index: 2;
  width: 100px;
  height: 100px;
  top: 0;
  right: 0;
  bottom: 30%;
  left: 0;
  background-color: #8c7c02;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
}
.ovgoldcolor {
  position: absolute;
  z-index: 1;
  background-color: #d9c65a;
  width: 100%;
  height: 30%;
  top: 0;
  padding:10px;
  font-family: Oswald;
  font-size: xxx-large;
  color: #8c7c02;
  text-align: left;
}
.ovTitle {
  position: absolute;
  height: fit-content;
  margin:0;
  top:55%;
  right:0;
  left:0;
  bottom:0;
  text-align: center;
  font-size: xx-large;
  font-family: Oswald;
  color: #4d4d4d;
}
.ovChapter {
  position: absolute;
  height: fit-content;
  margin:0;
  top:85%;
  right:0;
  left:5%;
  bottom:0;
  font-size: large;
  font-family: Open Sans, sans-serif;
  color: #4d4d4d;
}
.ovDuration {
  position: absolute;
  height: fit-content;
  margin:0;
  top:85%;
  right:0;
  left:65%;
  bottom:0;
  font-size: large;
  font-family: Open Sans, sans-serif;
  color: #4d4d4d;
}

/* Styling für Neu bei Canvas */

.vCanvasNeu {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
  height: 15%;
  background-image: linear-gradient(to bottom right, #e5d8a7, #d9c65a );
  box-shadow: 0px 40px 40px rgba(0,0,0,0.15);
  border-radius: 20px;
}
.canvasneutitle {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: x-large;
  font-family: Oswald;
  color: #ffffff;
}
.moreinfos {
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: medium;
  font-family: Oswald;
  color: #ffffff;
}
.canvasbtn {
  position: absolute;
  width: 20%;
  height: 30%;
  padding: 5px;
  top: 40%;
  left: 70%;
  right: 0;
  bottom: 0;
  background-color: white;
  color: #c7a315;
  font-family: Oswald;
  border-radius: 5px;
}
.scrollbtn {
  position: fixed;
  left: 85%;
  bottom: 30px;
  height: 20px;
  z-index: 1;
  cursor: pointer;
}

/* VIEWCONTACTS */
.contactsBigBox {
  padding:20px;
}
.contactsSmallBox {
  width: 100%;
}
.vContacts {
  position: relative;
  overflow: hidden;
  width: 30%;
  float: left;
  border-radius: 10px;
  background: #6a6969;
  min-height: 300px;
  margin: 10px;
  padding: 20px;
}
.contactsIcon {
  position: absolute;
  margin: auto;
  z-index: 2;
  width: 150px;
  height: 150px;
  top: 0;
  right: 0;
  bottom: 40%;
  left: 0;
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
}
.contactsRole {
  position: absolute;
  height: fit-content;
  margin:0;
  top:55%;
  right:0;
  left:0;
  bottom:0;
  text-align: center;
  font-size: x-large;
  font-family: oswald, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: white;
}
.contactsName {
  position: absolute;
  height: fit-content;
  margin:0;
  top:62%;
  right:0;
  left:0;
  bottom:0;
  text-align: center;
  font-size: xx-large;
  font-family: oswald, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
}
.contactsDescription {
  position: absolute;
  height: fit-content;
  margin:0;
  top:72%;
  right:0;
  left:0;
  bottom:0;
  text-align: center;
  font-size: x-large;
  font-family: oswald, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: white;
}
.contactsEmail {
  position: absolute;
  height: fit-content;
  margin:0;
  top:85%;
  right:0;
  left:0;
  bottom:0;
  text-align: center;
  font-size: x-large;
  font-family: oswald, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: white;
}
.vContacts {
  color: white;
}
/* Start for Layout 2 */

.l2OverviewBigBox {
  width: 100%;
}
.l2OverviewSeperate {
  position: relative;
  overflow: hidden;
  background-color: #F2F2F2;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom:50px;
  margin: 10px 5% 10px 5%;
  border-radius: 20px;
  box-shadow: 0px 40px 40px rgba(0,0,0,0.15);
  width:40%;
  float: left;
}
.l2OverviewChapters {
  padding: 1% 1% 1% 1%;
  margin: 2% 5% 2% 5%;
  min-height: 30px;
  color: white;
  background-color: #D9C65A;
  display: flex;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

/* Start for Learniac Styling */

/*styling für WelcomeBox*/

.lvWelcomeBox {
  margin-bottom: 50px;
  position: relative;
}
.lvWelcomeHeadline {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 40px;
  font-family: "Playfair Display";
  font-weight: 900;
  color: #bfa602;
}
.lvWelcomeHeader {
  position: absolute;
  font-size: 60px;
  color: #3c3c3b;
  font-family: "Roboto";
}
.lvWelcomeHeader.line1 {
  top: 25%;
  left: 10%;
}
.lvWelcomeHeader.line2 {
  top: 45%;
  left: 10%;
}
.lvWelcomeHeader.line3 {
  top: 65%;
  left: 10%;
}
.lvHeaderimage {
  width: 100%;
  height: auto;
}

/* The actual timeline (the vertical ruler) */
.lvTimeline {
  position: relative;
  max-width: 10px;
  left: 10%;
}
.lvTimeline:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 5px dashed #ffffff;
  background: linear-gradient(to bottom, #111111, #bea602, #e5d8a7) border-box;
}
.lvContainer {
  position: relative;
  margin-bottom: 2.5rem;
}
.lvTimeline-icon {
  position: absolute;
  left: -50px;
  width: 110px;
  height: 110px;
}
.lvImageIcon {
  width: 100%;
}
.lvContent {
  position: relative;
  left: 70px;
  background: #8c7c02;
  width: 800px;
  min-height: 200px;
  border-radius: 10px;
  padding: 20px 20px 15px;
  box-shadow: 0px 40px 40px rgba(0,0,0,0.15);
}
.lvContent:before {
  content: '';
  background: inherit;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  top: 40px;
  transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}
.pointWelcomebg {
  background: #3c3c3b;
}
.pointCoursebg {
  background: #bfa602;
}
.pointUnitsbg {
  background: #C6B673;
}
.pointLearningbg {
  background: #DED69D;
}
.pointInfobg {
  background: #ede4c5;
}

/* Styling für PointWelcome */

.lvPointWelcomeHeader {
  font-family: "Playfair Display";
  font-weight: 900;
  color: #bfa602;
}
.lvPointWelcomeText {
  font-family: "Roboto";
  color: #ffffff;
  padding-bottom: 50px;
  white-space: pre-line;
}
.lvModulButton {
  float: right;
  background: none;
  border: 2px solid #bfa602;
  border-radius: 25px;
  color: #bfa602;
  font-family: open-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: large;
  text-decoration: none;
  padding: 5px 35px 5px 35px;
  margin-top: 20px;
  margin-right: 20px;
}

/* Styling für PointCourse */

.lvPointCourseHeader {
  font-family: "Playfair Display";
  font-weight: 900;
  color: #3c3c3b;
}
.lvPointCourseText {
  font-family: "Roboto";
  color: #3c3c3b;
  white-space: pre-line;
}
/* Styling für PointUnits */

.lvPointUnitsEditorText {
  color: white;
}
.lvPointUnitsEditorBox {
  border: 1px #bea602 solid;
}
.lvPointUnitsEditorbreak {
  margin: 1%;
}
.lvPointUnitsHeader {
  font-family: "Playfair Display";
  font-weight: 900;
  color: #3c3c3b;
}
.lvPointUnitsText {
  font-family: "Roboto";
  color: #3c3c3b;
}
.lvPointUnits {
  font-family: "Roboto";
  color: #3c3c3b;
  list-style-type: none;
  margin: 1%;
}

/* Styling für PointLearning */

.lvPointLearningHeader {
  font-family: "Playfair Display";
  font-weight: 900;
  color: #3c3c3b;
}
.lvPointLearningText {
  font-family: "Roboto";
  color: #3c3c3b;
  padding-bottom: 50px;
  white-space: pre-line;
}
.lvDownload {
  float: right;
  background: none;
  border: 2px solid #3c3c3b;
  border-radius: 25px;
  color: #3c3c3b;
  font-family: open-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: large;
  text-decoration: none;
  padding: 5px 35px 5px 35px;
  margin-top: 20px;
  margin-right: 20px;
}

/* Styling für PointInfo */

.lvPointInfoHeader {
  font-family: "Playfair Display";
  font-weight: 900;
  color: #3c3c3b;
}
.lvPointInfoText {
  font-family: "Roboto";
  color: #3c3c3b;
  white-space: pre-line;
}

/* Styling für Rakete */
.lvRocketBox {
  margin: 100px;
}
.lvRocket {
  display: block;
  margin: auto;
  width: 15%;
}
.lvRocketText {
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 900;
  color: #3c3c3b;
}

/* Styling für Contacts */

.lvContactBox {
  width: 100%;
  min-height: 600px;
  background: #f2f2f2;
}
.boxPadding {
  padding: 5% 10% 10% 10%;
}
.lvcTitle {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: xxx-large;
  color: #3c3c3b;
  padding-bottom: 30px;
}
.lvContactMiniBox {
  background: #3c3c3b;
  border-radius: 20px;
  padding: 50px 10px 50px 50px;
}
.lvContactTitle {
  font-family: "Playfair Display";
  font-weight: 900;
  color: #ffffff;
  font-size: x-large;
  padding-bottom: 10px;
}
.lvContactName {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: xx-large;
  color: #bfa602;
  padding-bottom: 10px;
}
.lvContactText {
  font-family: "Roboto";
  color: #ffffff;
  padding-bottom: 10px;
}
.lvContactPhone {
  font-family: "Roboto";
  color: #ffffff;
  padding-bottom: 10px;
}
.lvContactMobil {
  font-family: "Roboto";
   color: #ffffff;
   padding-bottom: 10px;
}
.lvContactMail {
  font-family: "Roboto";
  color: #ede4c5;
}
.lvcolumn {
  display: inline-block;
  width: 50%;
}
.lvContactBild {
  display: block;
  margin: auto;
}
.learniacLogo {
  float: right;
}
